{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <title>Sexual Violence</title>
</head>

<body>


    <div class="max-w-screen-xl">
        <div class="text-white absolute pt-2 pl-2 z-50 " ><a href="{{'/'}}"><img src="https://img.icons8.com/material-outlined/24/ffffff/long-arrow-left.png" class="inline mr-2"/>Return to home</a> </div>
        <div data-aos="fade-right" class="relative rounded-lg about-header pt-12 sm:pt-24 pb-24 sm:pb-32 md:pb-48 lg:pb-56 xl:pb-64">
            <!-- <p class="text-white absolute pt-0">Return to home </p> -->
        </div>
        <div data-aos="fade-up" class="container mx-auto flex justify-center md:-mt-12 -mt-20 sm:-mt-40">
            <div class="relative sm:w-2/3 w-11/12">
                <div class="bg-white shadow-xl rounded p-4 xl:p-8 flex items-center justify-center">
                    <p class="lg:text-4xl text-gray-800 font-serif fn1">
                        Sexual Violence
                    </p>
                </div>
                <div class="w-1/6 items-center justify-center absolute top-0 mr-2 md:mr-8 -mt-4 right-0 rounded-full">
                    <img src="{% static 'images/quotes.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>


    <div data-aos="zoom-in" class="2xl:mx-auto dark:bg-gray-900 2xl:container md:px-20 px-4 md:py-12 py-9">
        <div class="relative rounded-md">
            
            <div class="text-xl relative shadow-lg z-20  bg-gradient-to-r from-black to-transparent w-full h-full z-40 top-0 md:p-16 p-6 flex flex-col  rounded-md ">
                <div>
                    <p class="text-lg leading-6 text-white xl:w-5/12 lg:w-8/12 md:w-10/12  2xl:pr-12 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex natus expedita consectetur. Eaque facilis ducimus eos? Magnam ipsum aspernatur aliquam, voluptatem natus dignissimos veniam exercitationem dolor saepe quaerat officiis soluta ipsam, sit eaque sequi recusandae perferendis labore culpa placeat qui quae odit quas ipsa minus. Praesentium sunt ratione id. Modi eveniet, aspernatur animi tempora iusto perferendis?</p>
                </div>
               
               
            </div>
        </div>
    </div>
    
    <div>
        <h3 class="lg:text-4xl text-gray-800 font-serif fn2 text-center text-lg">Laws for protection of women against Sexual Abuse</h3>
    </div>

    <div aria-label="group of cards" tabindex="0" class="focus:outline-none py-8 w-full">
        <div class="lg:flex items-center justify-center w-full">
            <div tabindex="0" aria-label="card 1" class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-white dark:bg-gray-800  p-6 shadow rounded">
                <div class="flex items-center border-b border-gray-200 dark:border-gray-700  pb-6">
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p tabindex="0" class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white ">Law name</p>
                            <p tabindex="0" class="focus:outline-none text-sm leading-normal pt-2 text-gray-500 dark:text-gray-200 ">Year of entachment</p>
                        </div>
                    </div>
                </div>
                <div class="px-2">
                    <p tabindex="0" class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200 ">A group of people interested in dogecoin, the currency and a bit of side for the meme and dof that we all know and love. These cases are perfectly simple and easy to distinguish.</p>
                    
                </div>
            </div>
            <div aria-label="card 2" tabindex="0" class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-white dark:bg-gray-800  p-6 shadow rounded">
                <div class="flex items-center border-b border-gray-200 dark:border-gray-700  pb-6">
                    <div class="w-12 h-12 bg-gray-300 dark:bg-gray-900  rounded-full flex flex-shrink-0"></div>
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p tabindex="0" class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white ">Law name</p>
                            <p tabindex="0" class="focus:outline-none text-sm leading-normal pt-2 text-gray-500 dark:text-gray-200 ">entachment year</p>
                        </div>
                    </div>
                </div>
                <div class="px-2">
                    <p tabindex="0" class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200 ">A group of people interested in dogecoin, the currency and a bit of side for the meme and dof that we all know and love. These cases are perfectly simple and easy to distinguish.</p>
                </div>
            </div>
        </div>
        <div class="lg:flex items-center justify-center w-full mt-7">
            <div aria-label="card 3" tabindex="0" class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-white dark:bg-gray-800  p-6 shadow rounded">
                <div class="flex items-center border-b border-gray-200 dark:border-gray-700  pb-6">
                    <div class="w-12 h-12 bg-gray-300 dark:bg-gray-900  rounded-full flex flex-shrink-0"></div>
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p tabindex="0" class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white ">Family guy : A thread</p>
                            <p tabindex="0" class="focus:outline-none text-sm leading-normal pt-2 text-gray-500 dark:text-gray-200 ">36 members</p>
                        </div>
                    </div>
                </div>
                <div class="px-2">
                    <p tabindex="0" class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200 ">A group of people interested in dogecoin, the currency and a bit of side for the meme and dof that we all know and love. These cases are perfectly simple and easy to distinguish.</p>
                </div>
            </div>
            <div aria-label="card 4" tabindex="0" class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-white dark:bg-gray-800  p-6 shadow rounded">
                <div class="flex items-center border-b border-gray-200 dark:border-gray-700  pb-6">
                    <div class="w-12 h-12 bg-gray-300 dark:bg-gray-900  rounded-full flex flex-shrink-0"></div>
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p tabindex="0" class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white ">DC vs Marvel</p>
                            <p tabindex="0" class="focus:outline-none text-sm leading-normal pt-2 text-gray-500 dark:text-gray-200 ">36 members</p>
                        </div>
                    </div>
                </div>
                <div class="px-2">
                    <p tabindex="0" class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200 ">A group of people interested in dogecoin, the currency and a bit of side for the meme and dof that we all know and love. These cases are perfectly simple and easy to distinguish.</p>

                </div>
            </div>
        </div>
        <div class="lg:flex items-center justify-center w-full mt-7">
            <div aria-label="card 5" tabindex="0" class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-white dark:bg-gray-800  p-6 shadow rounded">
                <div class="flex items-center border-b border-gray-200 dark:border-gray-700  pb-6">
                    <div class="w-12 h-12 bg-gray-300 dark:bg-gray-900  rounded-full flex flex-shrink-0"></div>
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p tabindex="0" class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white ">Rick & Morty</p>
                            <p tabindex="0" class="focus:outline-none text-sm leading-normal pt-2 text-gray-500 dark:text-gray-200 ">36 members</p>
                        </div>
                    </div>
                </div>
                <div class="px-2">
                    <p tabindex="0" class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200 ">A group of people interested in dogecoin, the currency and a bit of side for the meme and dof that we all know and love. These cases are perfectly simple and easy to distinguish.</p>
                   
                </div>
            </div>
            <div aria-label="card 6" tabindex="0" class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-white dark:bg-gray-800  p-6 shadow rounded">
                <div class="flex items-center border-b border-gray-200 dark:border-gray-700  pb-6">
                    <div class="w-12 h-12 bg-gray-300 dark:bg-gray-900  rounded-full flex flex-shrink-0"></div>
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p tabindex="0" class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white ">La Liga: A history</p>
                            <p tabindex="0" class="focus:outline-none text-sm leading-normal pt-2 text-gray-500 dark:text-gray-200  dark:text-gray-200 ">36 members</p>
                        </div>
      
                    </div>
                </div>
                <div class="px-2">
                    <p tabindex="0" class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200  dark:text-gray-200 ">A group of people interested in dogecoin, the currency and a bit of side for the meme and dof that we all know and love. These cases are perfectly simple and easy to distinguish.</p>
                    
                </div>
            </div>
        </div>
    </div>



        

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
        })
    </script>
</body>

</html>